body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex: 1 1 auto; 
}

.container > form {
    margin: 10px;
}