body {
    padding: 0%;
    margin: 0%;
}

.header-row {
    display: flex;
    background-color: #242424;
    height: 90px;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

#header-logo > img {
    height: 120px;
    transition: transform 0.3s;
    padding: 10px;
    padding-right: 30px;
}

#header-logo > img:hover {
    transform: scale(1.1); /* Increase size on hover */
}

.header-menu {
    display: flex;
    margin: 150px;
    margin-right: 20px;
}

.header-icons > a > img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.header-menu > a > img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.header-icons > a > img:hover {
    transform: scale(1.2); /* Increase size on hover */
}

.header-menu > a > img:hover {
    transform: scale(1.2); /* Increase size on hover */
}

.container {
    float: left;
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgreen;
    margin: 10px;
}
.topleft {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }
.base {
    position: relative;
  }